<section class="page-header">
  <a href="index.html" class="btn">Projects</a>
  <a href="orgs.html" class="btn">Organizations</a>
  <a href="activity.html" class="btn">Activity</a>
  <a href="https://www.linkedin.com/in/aarav-borthakur-b66085209" class="btn" target="_blank">Linkedin &#x2197;</a>
  <a href="https://github.com/gadhagod" class="btn" target="_blank">GitHub &#x2197;</a>
</section>