<section class="page-header">
  <a href="index.html" class="btn">Projects</a>
  <a href="orgs.html" class="btn">Organizations</a>
  <a href="activity.html" class="btn">Activity</a>
  <a href="stats.html" class="btn">Stats</a>
  <a href="https://github.com/gadhagod" class="btn" target="_blank">GitHub</a>
</section>