div.project-card {
    width: 18rem;
}

div.org-card {
    width: 900px;
}

.card-text, cite {
    font-size: 14px;
}

.card-footer a, .card-title a {
    text-decoration: none;
}

[src="img/projects/botw-compendium.png"] {
    height: 9vw;
    object-fit: cover;
}

[src="img/projects/schoology-ext.png"] {
    object-fit: cover;
    height: 8vw;
}

[src="https://docs.google.com/drawings/d/e/2PACX-1vQWTKlLDPEjMIYU3GIVAkB5TUCZIka0wgMBggqu9UHfJQMKQt07Ult2jv1gsR32c2OEoy_FhHLGdE6m/pub?w=960&h=720"] {
    height: 9vw;
    object-fit: cover;
}

[src="img/orgs/robotics/logo.png"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80% !important;
    width: 25% !important;
}

[src="img/orgs/adl/logo.png"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 18% !important;
    width: 18% !important;
}

[src="img/orgs/harker-hackers/logo.png"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20% !important;
    width: 20% !important;
}