<p class="card-text">
  App Dev League is a student-run non profit organization bringing web and app development opportunities to underprivileged 
  students from low-income centers, housing authorities, and Title 1 underrepresented schools across the nation.
</p>
<blockquote class="blockquote">
  <p class="card-text text-dark">
    Founded in 2019, we are a group of students devoted to bringing modern web and app development opportunities to underrepresented students. 
    We strive to increase diversity in the technology workforce and empower students, regardless of their socioeconomic status or racial background, 
    to make a social impact through full-stack development. We hope the knowledge we impart through our program will make a difference starting on a small scale to eventually a global scale.           
  </p>
  <footer class="blockquote-footer">
  <cite>appdevleague.org</cite>
  </footer>
</blockquote>
<p class="card-text">
  Being part of our dev and student instructor teams, App Dev League has been a wonderful part of my web development career. 
  This organization has given me the opportunity to direct my enthusiasm for programming to aid others with a similar passion as mine. 
  I have done much work on ADL's <a href="https://appdevleague.org/star-program" target="_blank">STAR Program</a> (Student Teacher Academic Resources).
  <ul class="card-text">
    <li>
      I am currently developing our teaching app, Devnetic, to be released 2022. 
      Devnetic will be a gamified teaching app for our students on the App Store.
    </li>
    <li>
      I have helped build our Curriculum Hub, which contains thorough educational content on web development, artificial intelligence, and computer science for students worldwide.
    </li>
    <li>
      I have taught live Zoom workshops with students of grades 1-8 on web and app development.
    </li>
  </ul>
  <br>
  <center>
    <iframe 
      width="560" 
      height="315" 
      src="https://www.youtube.com/embed/UDLzpVlgx08" 
      allowfullscreen>
    </iframe>
  </center>
</p>