<p class="card-text">
  Harker Hackers is a team of six Harker middle school students committed to bringing technological services to the school.
</p>
<blockquote class="blockquote">
  <p class="card-text text-dark">
    Harker Hackers is a group of Harker Middle School students dedicated to building serviceable student software, established January 2021. 
    Since then, we have released a variety of projects. We build tools to improve our peers' school life using technology, and we've have had our services pushed as official school solutions. 
  </p>
  <footer class="blockquote-footer">
  <cite>harker-hackers.github.io</cite>
  </footer>
</blockquote>
<p class="card-text">
  Our organization has built four <a href="https://harker-hackers.github.io/#/projects">projects</a> to better our students' daily experiences.  
  Our work has pushed as official school solutions, and I've spoken at multiple school-wide assemblies announcing our projects. 
  Our <a href="https://harker-hackers.github.io/schoology-extension" target="_blank">Schoology Chrome extension</a> has been downloaded by 367 Harker students and our <a href="https://github.com/Harker-Hackers/Harker-Updates" target="_blank">School Announcements Discord Bot</a> currently serves 46 Harker students.
  Being co-founder of Harker Hackers, I improved my leadership, public speaking, and web development skills. 
</p>
