<p class="card-text">
  The Harker Robotics Team is the <a href="https://www.firstinspires.org/robotics/frc" target="_blank">FRC</a> team for The Harker School. 
</p>
<blockquote class="blockquote">
  <p class="card-text text-dark">
    We aim to grant club members the opportunity to explore STEAM through hands-on experience with robots and their components. 
    We develop the organizational and teamwork skills required to successfully design and build for the FIRST® competition. 
    We perform with joy, professionalism, and excellence, sharing our knowledge and experience with the larger community.              
  </p>
  <footer class="blockquote-footer">
  <cite>robotics.harker.org</cite>
  </footer>
</blockquote>
<p class="card-text">
  As a member of our App Development team, I have done substantial work on <a href="https://github.com/HarkerRobo/robotics-website" target="_blank">1072's website</a>, purchase request system, 
  attendance system, and other apps. Being on the team since October 2021, the experience has been awesome as I have 
  learned many new techonologies and made extensive contributions to the organization.
  <br>
  <center>
    <img class="rounded" src="img/orgs/robo/sub-1.jpeg" width="45%" height="70%">
    <img class="rounded" src="img/orgs/robo/sub-2.jpeg" width="45%" height="40%">
  </center>
</p>