<!DOCTYPE html>
<html lang="en-US">
  <%- include("../partials/head.html") %>
  <body>
    <%- include("../partials/navbar.html") %>
    <center>
      <br>
      <img src="https://github-readme-stats.vercel.app/api?username=gadhagod">
      <br>
      <iframe width="600" height="600" src="https://ionicabizau.github.io/github-profile-languages/api.html?@gadhagod" frameborder="0"></iframe>
      <br>
    </center>
  </body>
</html>